@import url('https://fonts.googleapis.com/css2?family=Itim&family=Quicksand:wght@500&display=swap');

h2 {
    color: black;
    font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
    font-weight: 1200;
  

}

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  height:100vh;
 
}

h1 {
    font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    

}

label {
    font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin-top: 20px;
  
}

input {
    display: block;
    margin-top: 20px;
    width: 300px;
       font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
}

.btn {
    background-color: #5D3FD3	; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 20px;
  padding: 12px 28px;
  font-family: 'Itim', cursive;
  font-family: 'Quicksand', sans-serif;   
  
}

select {
    margin-top: 20px;
      font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
     width: 300px;
}

img {
    float: right;
    position:relative;
    
    bottom: 20px;
}

@media (max-width:629px) {
    img  {
    display: none;
  }
}