@import url('https://fonts.googleapis.com/css2?family=Itim&family=Quicksand:wght@500&display=swap');

h2 {
    color: black;
    font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
    font-weight: 1200;

}

h1 {
    font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

label {
    font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
    display: block;
}

input {
    display: block;
}